server:
  port: 8092
spring:
  application:
    name: jf-exp-service
  datasource:
    url: jdbc:mysql://47.107.228.216:3306/jf_system?characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
    hikari: 
      maximum-pool-size: 20
      minimum-idle: 10
  redis:
  host: 127.0.0.1
  rabbitmq:
      virtual-host: jf-express
      username: beespal
      password: beespal
      host: 192.168.0.3
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10010/eureka
    registry-fetch-interval-seconds: 5
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true  
    ip-address: 127.0.0.1
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 15
ribbon:
  ConnectTimeout: 4000 
  ReadTimeout: 2000 
  OkToRetryOnAllOperations: true 
  MaxAutoRetriesNextServer: 1 
  MaxAutoRetries: 1 
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMillisecond: 10000
mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml     
  type-aliases-package: com.beespal.service.pojo
  mapper-locations:
  - classpath:mybatis/mappers/**/*.xml           
